[app]
debug = 0
trace = 0
timezone = 'Asia/Shanghai'
login_google_authenticator = false
power_code = '1231'


[database]
hostname = 127.0.0.1
password = 123456
database = voopea
username = root
hostport = 3306
prefix = aa_

[mongodb]
hostname = 127.0.0.1
username =
password =
database = db_voopea

[cache]
default_type = redis

[redis]
host = 127.0.0.1
password = 123456
select = 1
prefix =

[socket]
websocket_port = 1818
register_port = 1260
internal_start_port = 3200
gateway_process_number = 20
worker_process_number = 4

[rabbitmq]
host = 127.0.0.1
user = root
pass = 123456

