[app]
debug = 1
trace = false
server = test
timezone = 'Asia/Shanghai'
power_code = 123123
cdn_url = 'http://cdn.dbfm6.cn/v1file'
api_url = 'http://api.dbfm6.cn/api'''
web_socket_url = 'ws://ws.dbfm6.cn/'

[api]
config_key = 'DVkJqXMGoHZWk9LJycuZKvqX'
request_encode_switch = 0
request_encode_key = 'byp5x17JZ4m9wm25SB2lyIOC'
response_encode_switch = 0
response_confuse_switch = 0
response_encode_key = '7iLs8KF08pVL222PHegRxLny'
sign_key = '5rY0TJIeQlexmFQ9XCuJGWSd'

[database]
debug = 0
hostname = 192.168.1.200
password = As.888888
database = v1
username = root
hostport = 3306
prefix = fa_

[mongodb]
hostname = 192.168.1.200
username = myAdmin
password = As.888888
database = v1

[cache]
default_type = redis

[redis]
host = 192.168.1.200
password = As888888
select = 5
prefix =

[socket]
websocket_port = 5800
register_port = 1236
internal_start_port = 3200
gateway_process_number = 20
worker_process_number = 4

[rabbitmq]
host = 192.168.1.200
user = admin
pass = As888888

[prod]
yunxinAppKey = 'c8733a06f1c38025827b0339660709cf'
yunxinAppSecret = 'dbf64b3e348e'
yunxinServer = 'https://api.netease.im/nimserver'
agoraAppID = 'db46890041034bdebce47cfa8e670104'
agoraAppCertificate = '18f5bc96cf564395b48e41f08049748e'

[test]
minio_endpoint = https://cdn.dbfm6.cn/
minio_bucket = v1file
minio_access_key = admin
minio_secret_key = As888888
minio_region = cn-beijing-1

yunxinAppKey = '266ababb8a82102dee151edee7b054c4'
yunxinAppSecret = '0a60c54d9eb4'
yunxinServer = 'https://api-sg.netease.im/nimserver'
;yunxinServer = 'https://api.netease.im/nimserver'
agoraAppID = '956848d7472f4cf5bd2d18f3578c2c74'
agoraAppCertificate = '7f8b40333a784aa28d687a3f46b146a6'
