[app]
debug = 1
trace = false
server = test
timezone = 'Asia/Shanghai'
power_code = 123123
cdn_url = ''
api_url = ''
web_socket_url = ''

[api]
config_key = 'DVkJqXMGoHZWk9LJycuZKvqX'
request_encode_switch = 1
request_encode_key = 'byp5x17JZ4m9wm25SB2lyIOC'
response_encode_switch = 1
response_confuse_switch = 1
response_encode_key = '7iLs8KF08pVL222PHegRxLny'
sign_key = '5rY0TJIeQlexmFQ9XCuJGWSd'

[database]
debug = 0
hostname = 192.168.1.200
password = As.888888
database = v1
username = root
hostport = 3306
prefix = fa_

[mongodb]
hostname = 192.168.1.200
username = myAdmin
password = As.888888
database = v1

[cache]
default_type = redis

[redis]
host = 192.168.1.200
password = As888888
prefix =

[socket]
websocket_port = 5800
register_port = 1236
internal_start_port = 3200
gateway_process_number = 20
worker_process_number = 4

[rabbitmq]
host = 192.168.1.200
user = admin
pass = As888888

[prod]
yunxinAppKey = ''
yunxinAppSecret = ''
yunxinServer = 'https://api.netease.im/nimserver'
agoraAppID = ''
agoraAppCertificate = ''

[test]
minio_endpoint =
minio_bucket = v1file
minio_access_key = admin
minio_secret_key = As888888
minio_region = cn-beijing-1

yunxinAppKey = ''
yunxinAppSecret = ''
yunxinServer = 'https://api-sg.netease.im/nimserver'
;yunxinServer = 'https://api.netease.im/nimserver'
agoraAppID = ''
agoraAppCertificate = ''
