<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <br>
    <div style="text-align: center">
        <span style="color:red;">注意: 请在设置完成第二步后再关闭此页面.</span>
        <br>
        <span style="color: blue;">第一步: </span>
        请首先在手机上安装谷歌身份验证器Google Authenticator <br>
        iPhone手机， 在App Store中搜索 Google Authenticator；
        <br>
        android手机，在应用市场中搜索“谷歌身份验证器”，或搜索 Google Authenticator。
        <br>
<!--        如无法在应用市场中搜索到该应用则推荐扫描-->
<!--        <a href="http://www.chitus.com/ewm/create?config=%7B%22content%22%3A%22http%3A%2F%2Fm.downyi.com%2Fdowninfo%2F173568.html%22%7D" target="_blank" >-->
<!--        二维码(点击打开)-->
<!--        </a>-->
<!--        下载并安装应用-->
<!--        <br>-->
        <a href="https://blog.csdn.net/xiongsun/article/details/104670378" target="_blank" >点击查看Google Authenticator 的详细使用方法</a>
        <br>
        <br>

        <br>
        <span style="color: blue;">第二步: </span>
        安装完成后用Google Authenticator应用扫描下方二维码 <br>
        或复制以下密文手动添加到Google Authenticator验证器中 <br>
        <img src="{$qrcodeurl}" alt="">
        <br><br>
        <span style="color: red;">密文: </span>
        <span style="color:green;"> {$secret} </span>
        <br><br>
        <span style="color: blue;">注意: 应用扫描和手动添加密文, 二选一即可. 不需要同时操作 </span>

        <br><br>


    </div>

    <!--    <div class="form-group layer-footer">-->
    <!--        <label class="control-label col-xs-12 col-sm-2"></label>-->
    <!--        <div class="col-xs-12 col-sm-8">-->
    <!--            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>-->
    <!--            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>-->
    <!--        </div>-->
    <!--    </div>-->
</form>
