<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('红包总金额')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-amount" data-rule="required" class="form-control" name="row[amount]" type="number" value="{$row.amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('单人单次领取最小金额')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-min_amount" data-rule="required" class="form-control" name="row[min_amount]" type="number" value="{$row.min_amount|default=2|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('单人单次领取最大金额')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-max_amount" data-rule="required" class="form-control" name="row[max_amount]" type="number" value="{$row.max_amount|default=5|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('单人领取最多次数')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-max_count" data-rule="required" class="form-control" name="row[max_count]" type="number" value="{$row.max_count|default=5|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3">{:__('自动发放时间')}:</label>
        <div class="col-xs-12 col-sm-6">
            <input id="c-open_time" placeholder="手动发放则不填写" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:00" data-date-side-by-side="true" data-use-current="true" name="row[open_time]" type="text" value="{$row.open_time|default=null}">
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-3"></label>
        <div class="col-xs-12 col-sm-6">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
