<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <p>
        <span style="font-weight: bold">导入配置:</span>请按照指定格式的模版进行数据导入,导入后数据表数据将更新为导入后的数据。如需配置实装,还需要刷新配置。
    </p>
    <p>
        <span style="font-weight: bold">下载导入模版:</span>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">
            <i class="layui-icon layui-icon-delete"></i><a href="{:url('fly/config/export')}">下载</a>
        </button>
    </p>

    <p>
        <span style="font-weight: bold">导出配置:</span>导出当前数据表配置。
    </p>
    <p>
        <span style="font-weight: bold">刷新配置:</span>将最新的数据表配置刷新到缓存中并生效于游戏。
    </p>
</body>
</html>