<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('奖池名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input class="form-control" readonly="readonly" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">{:__('导入配置')}:</label>
            <div class="col-xs-12 col-sm-1">
                <div class="input-group">
                    <div class="input-group-addon no-border no-padding">
                        <span><button type="button" id="import_config"  class="btn btn-danger faupload" data-multipart='{"id":"{$row.id}"}' data-url="fly/pool/import" data-mimetype="csv,xls,xlsx" data-multiple="false"><i class="fa fa-upload"></i> {:__('导入')}</button></span>
                    </div>
                </div>
            </div>
        </div>

</form>
