<style>
    legend {
        font-size: 16px;
        color: green;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <fieldset>
        <legend>銀行卡信息</legend>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">真實姓名:</label>
            <div class="col-xs-10 col-sm-8">
                <input id="c-nick" class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.account_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">身份證號:</label>
            <div class="col-xs-10 col-sm-8">
                <input id="c-nick" class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.card_number}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">卡號:</label>
            <div class="col-xs-10 col-sm-8">
                <input id="c-nick" class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.bank_number}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">開戶銀行:</label>
            <div class="col-xs-10 col-sm-8">
                <input id="c-nick" class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.bank_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">開戶分行:</label>
            <div class="col-xs-10 col-sm-8">
                <input id="c-nick" class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.branch_name}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">身份證正面圖片:</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-image" class="form-control" size="50" name="row[card_front_img]" type="text"
                           value="{$row.card_front_img|htmlentities}" readonly>
                    <div class="input-group-addon no-border no-padding">
                        <span>
                             <button type="button" id="faupload-image" data-category="gift"
                                     disabled
                                     class="btn btn-danger faupload" data-input-id="c-image"
                                     data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/svga,svga,image/pag,pag,image/webp"
                                     data-multiple="false" data-preview-id="p-image">
                                  <i class="fa fa-upload"></i> {:__('Upload')}
                             </button>
                        </span>
                    </div>
                    <span class="msg-box n-right" for="c-image"></span>
                </div>
                <ul class="row list-inline faupload-preview" id="p-image"></ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">身份證反面圖片:</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-card_back_img" class="form-control" size="50" name="row[card_back_img]" type="text"
                           value="{$row.card_back_img|htmlentities}" readonly>
                    <div class="input-group-addon no-border no-padding">
                        <span>
                             <button type="button" id="faupload-card_back_img" data-category="gift"
                                     disabled
                                     class="btn btn-danger faupload" data-input-id="c-card_back_img"
                                     data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/svga,svga,image/pag,pag,image/webp"
                                     data-multiple="false" data-preview-id="p-card_back_img">
                                  <i class="fa fa-upload"></i> {:__('Upload')}
                             </button>
                        </span>
                    </div>
                    <span class="msg-box n-right" for="c-card_back_img"></span>
                </div>
                <ul class="row list-inline faupload-preview" id="p-card_back_img"></ul>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">銀行卡圖片:</label>
            <div class="col-xs-12 col-sm-8">
                <div class="input-group">
                    <input id="c-bank_img" class="form-control" size="50" name="row[bank_img]" type="text"
                           value="{$row.bank_img|htmlentities}" readonly>
                    <div class="input-group-addon no-border no-padding">
                        <span>
                             <button type="button" id="faupload-bank_img" data-category="gift"
                                     disabled
                                     class="btn btn-danger faupload" data-input-id="c-bank_img"
                                     data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/svga,svga,image/pag,pag,image/webp"
                                     data-multiple="false" data-preview-id="p-bank_img">
                                  <i class="fa fa-upload"></i> {:__('Upload')}
                             </button>
                        </span>
                    </div>
                    <span class="msg-box n-right" for="c-bank_img"></span>
                </div>
                <ul class="row list-inline faupload-preview" id="p-bank_img"></ul>
            </div>
        </div>

    </fieldset>

    {/*     <fieldset><legend >支付宝信息</legend> */}
    {/*         <div class="form-group"> */}
    {/*             <label class="control-label col-xs-12 col-sm-2">支付宝实名:</label> */}
    {/*             <div class="col-xs-10 col-sm-8"> */}
    {/*                 <input id="c-nick" class="form-control" readonly="readonly"  name="id" type="text" value="{$row.alipay_name&cc;"> */}
    {/*             </div> */}
    {/*         </div> */}
    {/*         <div class="form-group"> */}
    {/*             <label class="control-label col-xs-12 col-sm-2">支付宝账号:</label> */}
    {/*             <div class="col-xs-10 col-sm-8"> */}
    {/*                 <input id="c-nick" class="form-control" readonly="readonly"  name="id" type="text" value="{$row.alipay_number&cc;"> */}
    {/*             </div> */}
    {/*         </div> */}
    {/*         <div class="form-group"> */}
    {/*             <label class="control-label col-xs-12 col-sm-2">支付宝身份证:</label> */}
    {/*             <div class="col-xs-10 col-sm-8"> */}
    {/*                 <input id="c-nick" class="form-control" readonly="readonly"  name="id" type="text" value="{$row.alipay_card_number&cc;"> */}
    {/*             </div> */}
    {/*         </div> */}
    {/*     </fieldset> */}

</form>
