<style>
    legend{
        font-size: 16px;
        color: green;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">提现订单号:</label>
        <div class="col-xs-10 col-sm-8">
            <input  class="form-control" readonly="readonly"  name="id" type="text" value="{$row.withdraw_no}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">用户昵称(ID):</label>
        <div class="col-xs-10 col-sm-8">
            {:Form::text('', $row['user']['nickname']."(".$row['user_id'].")", ['readonly'=>true])}
        </div>
    </div>


    {if isset($row['bank_number'])}
    <fieldset>
        <legend>銀行卡信息</legend>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">真實姓名:</label>
            <div class="col-xs-10 col-sm-8">
                <input  class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.account_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">卡號:</label>
            <div class="col-xs-10 col-sm-8">
                <input  class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.bank_number}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">開戶銀行:</label>
            <div class="col-xs-10 col-sm-8">
                <input  class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.bank_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">開戶分行:</label>
            <div class="col-xs-10 col-sm-8">
                <input  class="form-control" readonly="readonly" name="id" type="text"
                       value="{$row.branch_name}">
            </div>
        </div>

    </fieldset>
    {else}
    <fieldset>
        <legend>支付宝信息</legend>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">支付宝实名:</label>
            <div class="col-xs-10 col-sm-8">
                <input  class="form-control" readonly="readonly" name="id" type="text" value="{$row.alipay_name}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2">支付宝账号:</label>
            <div class="col-xs-10 col-sm-8">
                <input  class="form-control" readonly="readonly" name="id" type="text" value="{$row.alipay_number}">
            </div>
        </div>
    </fieldset>
    {/if}


    <fieldset><legend>提现信息</legend>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('提现收益')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::text('', $row['amount'], ['readonly'=>true])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('打款金额')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::text('', $row['payment_amount'], ['readonly'=>true])}
        </div>
    </div>
    </fieldset>
    <fieldset><legend>操作</legend>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('打款方式')}:</label>
        <div class="col-xs-10 col-sm-8">
            <input id="c-payment_way_id" data-rule="required" data-source="general/payment_way/index" data-order-by="weigh" class="form-control selectpage" name="row[payment_way_id]" type="text" value="{$row.payment_way_id|htmlentities}">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('备注')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::textarea('row[comment]', $str??'', ['data-rule'=>'required', 'placeholder'=>'请输入原因备注', 'rows'=>2])}
        </div>
    </div>
    </fieldset>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
