<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Im_roomid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-im_roomid" data-rule="required" class="form-control" name="row[im_roomid]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Proom_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-proom_no" data-rule="required" class="form-control" name="row[proom_no]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('theme_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-theme_id" data-rule="required" data-source="room/theme/cate/index" class="form-control selectpage" name="row[theme_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cover')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-cover" data-rule="required" class="form-control" size="50" name="row[cover]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-cover" class="btn btn-danger plupload" data-input-id="c-cover" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-cover"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-cover" class="btn btn-primary fachoose" data-input-id="c-cover" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-cover"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-cover"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Notice')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-notice" class="form-control " rows="5" name="row[notice]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-num" data-rule="required" class="form-control" name="row[num]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_lock')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_lock" data-rule="required" class="form-control selectpicker" name="row[is_lock]">
                {foreach name="isLockList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Password')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-password" data-rule="required" class="form-control" name="row[password]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_open_box')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_open_box" data-rule="required" class="form-control selectpicker" name="row[is_open_box]">
                {foreach name="isOpenBoxList" item="vo"}
                    <option value="{$key}" {in name="key" value="0"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_give_box')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_give_box" data-rule="required" class="form-control selectpicker" name="row[is_give_box]">
                {foreach name="isGiveBoxList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bg_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-bg_img" data-rule="required" class="form-control" size="50" name="row[bg_img]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-bg_img" class="btn btn-danger plupload" data-input-id="c-bg_img" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-bg_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-bg_img" class="btn btn-primary fachoose" data-input-id="c-bg_img" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-bg_img"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-bg_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Music')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-music" data-rule="required" class="form-control" name="row[music]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mike_type')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-way" data-rule="required" class="form-control selectpicker" name="row[way]">
                {foreach name="mikeTypeList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Way')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_screen" data-rule="required" class="form-control selectpicker" name="row[is_screen]">
                {foreach name="wayList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_close')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_close" data-rule="required" class="form-control selectpicker" name="row[is_close]">
                {foreach name="isCloseList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hiding_switch')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-hiding_switch" data-rule="required" class="form-control selectpicker" name="row[hiding_switch]">
                {foreach name="hidingSwitchList" item="vo"}
                    <option value="{$key}" {in name="key" value="1"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Reward_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="pauseList" item="vo"}
            <label for="row[pause]-{$key}"><input id="row[pause]-{$key}" name="row[pause]" type="radio" value="{$key}" {in name="key" value="0"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Forbidden_start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-forbidden_start_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[forbidden_start_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Forbidden_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-forbidden_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[forbidden_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Countdown_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-countdown_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[countdown_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ower_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ower_id" data-rule="required" data-source="ower/index" class="form-control selectpage" name="row[ower_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No1_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no1_user_id" data-rule="required" data-source="seat1/user/index" class="form-control selectpage" name="row[no1_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No2_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no2_user_id" data-rule="required" data-source="seat2/user/index" class="form-control selectpage" name="row[no2_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No3_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no3_user_id" data-rule="required" data-source="seat3/user/index" class="form-control selectpage" name="row[no3_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No4_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no4_user_id" data-rule="required" data-source="seat4/user/index" class="form-control selectpage" name="row[no4_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No5_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no5_user_id" data-rule="required" data-source="seat5/user/index" class="form-control selectpage" name="row[no5_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No6_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no6_user_id" data-rule="required" data-source="seat6/user/index" class="form-control selectpage" name="row[no6_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No7_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no7_user_id" data-rule="required" data-source="seat7/user/index" class="form-control selectpage" name="row[no7_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No8_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no8_user_id" data-rule="required" data-source="seat8/user/index" class="form-control selectpage" name="row[no8_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('No9_user_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-no9_user_id" data-rule="required" data-source="seat9/user/index" class="form-control selectpage" name="row[no9_user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val1" data-rule="required" class="form-control" step="0.01" name="row[val1]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val2" data-rule="required" class="form-control" step="0.01" name="row[val2]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val3" data-rule="required" class="form-control" step="0.01" name="row[val3]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val4')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val4" data-rule="required" class="form-control" step="0.01" name="row[val4]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val5')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val5" data-rule="required" class="form-control" step="0.01" name="row[val5]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val6')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val6" data-rule="required" class="form-control" step="0.01" name="row[val6]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val7')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val7" data-rule="required" class="form-control" step="0.01" name="row[val7]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val8')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val8" data-rule="required" class="form-control" step="0.01" name="row[val8]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Val9')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-val9" data-rule="required" class="form-control" step="0.01" name="row[val9]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
