<table class="table table-striped">
    <thead>
    <tr>
        <th>图标</th>
        <th>礼物名称</th>
        <th>价格</th>
        <th>数量</th>
        <th>金额</th>
    </tr>
    </thead>
    <tbody>
    {volist name="row" id="vo"  }
    <tr>
        <td><img src="{:cdnurl($vo['image'])}" width="30" height="30"></img></td>
        <td>{$vo.name}</td>
        <td>{$vo.price}</td>
        <td>{$vo.count}</td>
        <td>{$vo.total}</td>
    </tr>
    {/volist}
    <tr>
        <td></td>
        <td colspan="3">
            总价：
        </td>
        <td>
            {$total_price}
        </td>
    </tr>
    </tbody>
</table>
<div class="hide layer-footer">
    <label class="control-label col-xs-12 col-sm-2"></label>
    <div class="col-xs-12 col-sm-8">
        <button type="reset" class="btn btn-primary btn-embossed btn-close"
                onclick="Layer.closeAll();">{:__('Close')}</button>
    </div>
</div>
